<!DOCTYPE html>
<html>
<head>
    <title>Usuario aprovado com sucesso</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS styles here if needed -->
</head>
<body>
    <div class="container mt-5">
        <h2>Sucesso</h2>
        <p>As aprovações do usuário foram processadas com sucesso.</p>
        <a href="{{ url_for('aprova_usuarios') }}" class="btn btn-primary">Voltar para aprovar usuários</a>
    </div>
</body>
</html>
